* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  height: 100vh;
  background-image: linear-gradient(
    500deg,
    #ffe7e3 45%,
    #bff8ff 50%,
    #ffe7e3 99%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  h1 {
    font-size: 42px;
    color: #000057;
    -webkit-text-stroke: 1.5px white;
    font-weight: 800;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
  #mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 40px;
    height: 60%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 25px;
    span {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      font-size: 23px;
      font-weight: 700;
      color: #000057;
      p {
        font-weight: 500;
      }
    }
    h2 {
      font-size: 32px;
      text-transform: capitalize;
      color: #000057;
    }
    h3 {
      color: #000057;
      text-transform: capitalize;
      font-size: 25px;
    }
    #msg {
      color: red;
      font-size: 19px;
      position: absolute;
      top: 10.5%;
      left: 20px;
      display: none;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      input {
        padding: 15px 20px;
        width: 200%;
        border-radius: 8px;
        box-shadow: 1px 2px 5px black;
        background: none;
      }
      input::placeholder {
        font-size: 22px;
      }
      button {
        padding: 10px 25px;
        background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 5px;
      }
    }
  }
}
